/* line 5, /home/ajith/ideatree/app/assets/stylesheets/homes.scss */
.login_account_detail {
  float: right;
  margin-top: 10px;
}

/* line 10, /home/ajith/ideatree/app/assets/stylesheets/homes.scss */
.main-selection-tab {
  display: inline;
}
