/* line 3, /home/ajith/ideatree/app/assets/stylesheets/users.scss */
ul.hmenu {
  list-style: none;
  margin: 0 0 2em;
  padding: 0;
}

/* line 9, /home/ajith/ideatree/app/assets/stylesheets/users.scss */
ul.hmenu li {
  display: inline;
}
