<tr>
<td> 
 <div style="width: 100%; height: 100%; overflow: hidden;">
                      <div style="float:left; overflow:hidden;" >
                         <a href="#" ><img src="<%= comment.user.avatar.url(:original) %>" alt="" height="42" width="42"/></a>
                      </div>
                      <div style="margin-left:80px">
                      <p style='margin:0px !important;font-size: 1em;  '><%= comment.content %></p>
                       <p style="color:red;margin:0px;font-size: 0.8em;font-style:italic;">Posted by <%= comment.user.name ||= current_user.get_display_name %> <%= time_ago_in_words(comment.created_at) %> ago </p>
                       </div>
                  </div>
</td>
</tr>