<p id="notice"><%= notice %></p>

<% @ideas.each do |idea| %>
  <!-- idea creator profile pic: description in short.. click and see the details in new url which should have a interface like medium, comment below the idea and like there-->
  <%= idea.description %><br>
<%end%>




