// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login_account_detail {
    float: right;
    margin-top: 10px;
}

.main-selection-tab {
	display: inline;
}