<section id="footer">
	<ul class="icons">
		<li><a href="https://twitter.com/shoretel" class="" ><%= image_tag("twitter.png")%><span class="label">Twitter</span></a></li>
		<li><a href="https://www.facebook.com/shoretel/" class=""><%= image_tag("facebook.png")%><span class="label">Facebook</span></a></li>
		<li><a href="https://www.instagram.com/shoretel/" class=""><%= image_tag("instagram.png")%><span class="label">Instagram</span></a></li>
		<li><a href="#" class=""><%#= image_tag("mail.png")%><span class="label">Email</span></a></li>
	</ul>
	
</section>