<section id="footer">
	<ul class="icons">
		<li><a href="#" class="fa-twitter" ><%= image_tag("twitter.png")%><span class="label">Twitter</span></a></li>
		<li><a href="#" class="fa-facebook"><%= image_tag("facebook.png")%><span class="label">Facebook</span></a></li>
		<li><a href="#" class="fa-instagram"><%= image_tag("instagram.png")%><span class="label">Instagram</span></a></li>
		<li><a href="#" class="fa-envelope"><%= image_tag("mail.png")%><span class="label">Email</span></a></li>
	</ul>
	
</section>