<header id="header">
	<h1><a href="#">Ideatree</a></h1>
	<nav class="links">
		<ul>
			<li><a href="/assignments">Browse</a></li>
			<li><a href="/assignments/new">Submit</a></li>
			<li><a href="/users/<%= current_user.id %>">Contributions</a></li>
		</ul>
	</nav>
	<nav class="main">
		<ul>
			<li class="search">
				<a class="fa-search" href="#search">Search</a>
				<form id="search" method="get" action="/search">
					<input type="text" name="query" placeholder="Search" />
				</form>
			</li>
			
			<li class="user_detail">
				<%#= render :partial => "layouts/nav_user_detail" %>
              <%= image_tag current_user.avatar.url(:thumb), :size => "50x50" %>
              <a href="/users/<%= current_user.id %>" class="btn btn-primary btn-lg active" role="button">
    	        <strong><%= current_user.get_display_name %></strong>
    	      </a>
    <%#= render 'devise/menu/registration_items' %>
    <%#= render 'devise/menu/login_items' %>
			</li>
		</ul>
	</nav>
</header>


