  <div class="header-info" style="margin-top:20px;height:30px;position: relative;
    z-index: 1;
    font-size: 17px;
    background-color: #e6e6e6;
    color: #f1f1f1;
    width: 100%;
    letter-spacing: 1px;">
	  <div class="login_account_detail" style="font-color:black">
		  <ul class="hmenu ">
		    <%= render 'devise/menu/registration_items' %>
		    <%= render 'devise/menu/login_items' %>
		  </ul>
	  </div>
  </div>
